# Number
# Number Arithmatic
# Variable Assign
# Print
# String inDex
# String Sclicing
# list
# tuple
# dict

dict

In [1]:
2+3

5

In [6]:
5.6+78.2

83.8

In [9]:
52/3

17.333333333333332

In [10]:
52//3

17

In [5]:
'smart'+'Data'

'smartData'

In [23]:
a=1

In [24]:
b=2.5

In [25]:
c='smartdata'

In [26]:
d=True

In [18]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'dict'>

In [24]:
a,b,c = 1,"abc",4.5

In [25]:
print(a,b,c)

1 abc 4.5

In [33]:
a = 5
print("a =", a, sep='00000', end='\n')
print("a =", a, end='')

a =000005
a =5

In [2]:
name="Sam"
score=97
print("Total score for %s is %s" % (name, score))
print("Total score for %(n)s is %(s)s" % {'n': name, 's': score})
print("Total score for {} is {}".format(name, score))
print("Total score for {0} is {1}".format(name, score))
print("Total score for {n} is {s}".format(n=name, s=score))
print("Total score for ", name, " is ", score, sep='')

Total score for Sam is 97
Total score for Sam is 97
Total score for Sam is 97
Total score for Sam is 97
Total score for Sam is 97
Total score for Sam is 97

In [5]:
s="smartData"

In [6]:
s[:]

'smartData'

In [7]:
s[1:5]

'mart'

In [8]:
s[-2:]

'ta'

In [9]:
s[-5:-1]

'tDat'

In [10]:
s[::-1]

'ataDtrams'

In [37]:
a=[1,"hello",3,4,5]
b=(7,"sam",9)
c={"a":1}

In [33]:
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [38]:
a[1]

'hello'

In [40]:
a[1][1:3]

'el'