In [2]:
import numpy as np

In [4]:
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
print(a,b)

[20 30 40 50] [0 1 2 3]

In [5]:
a-b

array([20, 29, 38, 47])

In [6]:
a+b

array([20, 31, 42, 53])

In [7]:
a*b

array([  0,  30,  80, 150])

In [11]:
b/a

array([0.        , 0.03333333, 0.05      , 0.06      ])

In [12]:
b**2

array([0, 1, 4, 9], dtype=int32)

In [13]:
10*np.sin(a)

array([ 9.12945251, -9.88031624,  7.4511316 , -2.62374854])

In [14]:
a<35

array([ True,  True, False, False])

In [16]:
A = np.array( [[1,1],[0,1]] )
B = np.array( [[2,0],[3,4]] )

In [17]:
A*B

array([[2, 0],
       [0, 4]])

In [18]:
A@B

array([[5, 4],
       [3, 4]])

In [21]:
np.dot(A,B)

array([[5, 4],
       [3, 4]])

In [29]:
c = np.ones((2,3), dtype=int)
c

array([[1, 1, 1],
       [1, 1, 1]])

In [25]:
d = np.random.random((2,3))
d

array([[0.29786243, 0.88739034, 0.32527511],
       [0.7625564 , 0.35653559, 0.28669073]])

In [30]:
c *= 3
c

array([[3, 3, 3],
       [3, 3, 3]])

In [31]:
d += c

In [32]:
d

array([[3.29786243, 3.88739034, 3.32527511],
       [3.7625564 , 3.35653559, 3.28669073]])

In [33]:
c += d
# c is ristricted to int type

TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [34]:
c.sum()

18

In [37]:
d.min()

3.2866907326710626

In [38]:
d.max()

3.8873903430396317

In [39]:
c.sum(axis=0)

array([6, 6, 6])

In [40]:
c.sum(axis=1)

array([9, 9])

In [42]:
c.cumsum(axis=1)

array([[3, 6, 9],
       [3, 6, 9]], dtype=int32)